html, body {
    margin: 0;
    padding: 0;
    background-color: #97c2d7;
    font-family: sans-serif;
    width: 100%;
}

form {
    display: flex;
    white-space: nowrap;
    flex: 1;
    align-self: center;
    padding-right: 2%;
}

#root > nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: fixed;
    width: 98%;
    padding: 0.5em 1%;
    height: 1.5em;
    border-width: 0 0 1px 0;
}

#root > main {
    padding: 2.8em 0 2.4em 0;
    width: 100%;
}

#root > footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.5em 1em;
    border-width: 1px 0 0 0;
}

#root > nav, #root > footer {
    border-style: solid;
    border-color: #5c7c8c;
    background-color: #2f5b73;
    color: white;
    box-shadow: 0 0 5px 0 black;
}

.torrent {
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    width: 96%;
    text-align: right;
    align-items: stretch;
}

.torrent:hover {
    background-color: #ade0f9;
}

.torrent-container:nth-child(even){
    background-color: #97c2d7;
}

.torrent-container:nth-child(odd){
    background-color: #7fadc4;
}

#notification {
    white-space: nowrap;
    align-self: center;
    justify-content: flex-end;
    /* flex: 1; */
    /* float: right; */
    background-color: #d42727;
    /* margin-right: 3em; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#notification span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5em;
    align-self: center;
}

#root > nav button {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    padding: 0;
    font-size: 1.3em;
    border: 0;
}

#notification button {
    color: white;
    background-color: #621212;
    min-width: 1.4em;
}

#notification button:hover {
    background-color: #9d1b1b;
}

#notification button:active {
    background-color: #3b0a0a;
}

#root > nav input {
    /* float: left; */
    flex: 1;
    display: inline-block;
    margin: 0;
    border: 1px solid grey;
    height: 1.3em;
    padding: 0.3em;
    font-size: 0.9em;
}

#root > nav #add-button {
    /* float: left; */
    color: black;
    background-color: #e7e7e7;
}

#root > nav #add-button:hover {
    background-color: white;
}

#root > nav #add-button:active {
    background-color: gray;
    color: white;
}

.torrent span {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.torrent .title {
    flex: 2;
    /* width: 50%; */
    text-align: left;
}

.torrent .up-speed, .torrent .down-speed, .torrent .progress{
    flex: 1;
    /* width: 10%; */
}

.torrent .buttons {
    flex: 1;
    /* width: 19%; */
}

#root {
    height: 100%;
    width: 100%;
}

.torrent .buttons path {
    fill: white;
}

.svg-button {
    width: 16px;
    height: 16px;
    fill: #ffe162;
    padding: 8px;
    cursor: pointer;
}

.svg-button:hover {
    fill: #17719f;
}

.svg-button:active {
    fill: #4408c4;
}

.torrent-container .details {
    padding: 0 2% 0 2%;
    width: 96%;
    /* background-color: #57758b; */
}


.details label {
    display: inline-block;
    width: 100%;
}

.details label:hover {
    background-color: #3e535d;
    color: white
}

.details legend {
    color: #416f86;
}

.details fieldset {
    border-color: #5799ba;
    border-style: solid;
    border-width: 1px;
}

.details button {
    display: inline-block;
    width: 8em;
    height: 2em;
    text-align: center;
    padding: 0;
    margin-left: 0.2em;
    margin-top: 0.2em;
    font-size: 1em;
    border: 0;
    display: flex;
    flex-direction: row;
}

.details button span {
    align-self: center;
}

.details button:hover {
    color: #17719f;
}

.details button:hover .svg-button {
    fill: #17719f;
}

.details svg {
    fill: #3aaee7;
}

.torrent .divider {
    width: 2px;
    height: 1em;
    border-right: 1px dotted white;
}
